$White: #ffffff;
$Yellow: #fbd743;
$Red: #ff1f1f;
$Blue: #5db9ff;
$Navy: #363b81;

// Styleguide margins
$Padding-XL: 3rem;
$Padding-Large: 2.25rem;
$Padding-Standard: 1rem;
$Padding-Large: 1.5rem;
$Padding-Half: 0.5rem;

$max-width: 62rem;

$phone-screen: 420px;
$tablet-screen: 640px;
$desktop-screen: 1008px;

$reset: 0;
