html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Pixelify Sans", sans-serif;
  background-color: #363b81;
  width: 100%;
}

a {
  text-decoration: none;
}

.header {
  background-color: #ff1f1f;
}

.nav-bar {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff1f1f;
}
@media (min-width: 640px) {
  .nav-bar {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
  }
}
@media (min-width: 1008px) {
  .nav-bar {
    max-width: 62rem;
    margin-left: auto;
    margin-right: auto;
  }
}
.nav-bar__left {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  height: 50%;
}
@media (min-width: 640px) {
  .nav-bar__left {
    height: auto;
    padding: 1.5rem;
  }
}
@media (min-width: 1008px) {
  .nav-bar__left {
    padding: 1.5rem 0;
  }
}
.nav-bar__right {
  display: flex;
  justify-content: center;
  height: 50%;
  width: 100%;
}
@media (min-width: 640px) {
  .nav-bar__right {
    height: auto;
    width: auto;
    padding-left: 1.5rem;
  }
}
.nav-bar__title {
  color: #ffffff;
  font-weight: 500;
}
.nav-bar__list {
  display: flex;
  list-style-type: none;
}
.nav-bar__item {
  width: 50vw;
  text-align: center;
  padding-bottom: 1rem;
}
@media (min-width: 640px) {
  .nav-bar__item {
    width: 10vw;
    padding-bottom: 1.5rem;
  }
}
.nav-bar__link {
  color: #ffffff;
  border-bottom: 3px #ff1f1f solid;
}
.nav-bar__link:hover {
  border-bottom: 3px #ffffff solid;
}
.nav-bar__link:focus {
  border-bottom: 3px #ffffff solid;
}

main {
  padding-top: 1rem;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 640px) {
  main {
    height: 88vh;
  }
}

.computer-starters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.player-starters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pokemon-card {
  margin: 1rem;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70px;
  border-radius: 10px;
}
@media (min-width: 420px) {
  .pokemon-card {
    width: 100px;
  }
}
@media (min-width: 640px) {
  .pokemon-card {
    width: 150px;
  }
}
.pokemon-card__name {
  display: none;
}
@media (min-width: 420px) {
  .pokemon-card__name {
    display: flex;
    align-self: center;
  }
}
.pokemon-card__type {
  display: none;
}
@media (min-width: 420px) {
  .pokemon-card__type {
    display: flex;
    align-self: center;
  }
}

.pokemon-card-green,
.pokemon-card-green-PC {
  background-color: green;
  border-radius: 20px;
}

.pokemon-card-red,
.pokemon-card-red-PC {
  background-color: #ff1f1f;
  border-radius: 20px;
}

.pokemon-card-blue,
.pokemon-card-blue-PC {
  background-color: #5db9ff;
  border-radius: 20px;
}

.pokemon-card-active {
  position: relative;
  bottom: 20px;
}

.pokemon-card-active-pc {
  position: relative;
  top: 20px;
}

.input {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}

.bulb,
.char,
.squir {
  margin-top: 1rem;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: white;
  border: none;
  background-image: url("../assets/pokeball-button.png"), url("../assets/pokeball-button-backup.png");
  background-position: center;
  background-size: cover;
}

.winner-box {
  width: 100vw;
  text-align: center;
  color: white;
  font-size: 60px;
}

.battle-box {
  width: 100vw;
  text-align: center;
  color: white;
  font-size: 50px;
}

.pokemon-card__img {
  border-bottom: solid 3px grey;
}/*# sourceMappingURL=index.css.map */