@use "./partials/global";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

main {
  padding-top: $Padding-Standard;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include breakpoint-tablet {
    height: 88vh;
  }
}
.computer-starters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.player-starters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.pokemon-card {
  margin: $Padding-Standard;
  background: $White;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70px;
  border-radius: 10px;
  @include breakpoint-phone {
    width: 100px;
  }
  @include breakpoint-tablet {
    width: 150px;
  }
  &__name {
    display: none;
    @include breakpoint-phone {
      display: flex;
      align-self: center;
    }
  }
  &__type {
    display: none;
    @include breakpoint-phone {
      display: flex;
      align-self: center;
    }
  }
}

.pokemon-card-green,
.pokemon-card-green-PC {
  background-color: green;
  border-radius: 20px;
}

.pokemon-card-red,
.pokemon-card-red-PC {
  background-color: $Red;
  border-radius: 20px;
}

.pokemon-card-blue,
.pokemon-card-blue-PC {
  background-color: $Blue;
  border-radius: 20px;
}

.pokemon-card-active {
  position: relative;
  bottom: 20px;
}

.pokemon-card-active-pc {
  position: relative;
  top: 20px;
}

.input {
  width: 100vw;
  display: flex;
  justify-content: space-around;
}
.bulb,
.char,
.squir {
  margin-top: $Padding-Standard;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  color: white;
  border: none;
  background-image: url("../assets/pokeball-button.png"),
    url("../assets/pokeball-button-backup.png");
  background-position: center;
  background-size: cover;
}

.winner-box {
  width: 100vw;
  text-align: center;
  color: white;
  font-size: 60px;
}

.battle-box {
  width: 100vw;
  text-align: center;
  color: white;
  font-size: 50px;
}

.pokemon-card__img {
  border-bottom: solid 3px grey;
}
