@use "./partials/global";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

.rules__title {
  color: white;
  padding: $Padding-Standard;
}
p {
  color: white;
  padding: $Padding-Standard;
}
